body {
  background-color: cadetblue;
}

pre {
  margin: 0 20%;
  background-color: rgb(75, 67, 67);
  border: 1px solid rgb(95, 65, 65);
  display: block;
  height: 250px;
  width: 650px;
}

code {
  font-size: 1rem;
  color: rgb(90, 216, 216);
}

.first {
  height: 330px;
  width: 650px;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #f05f44;
  border-color: #f05f44;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
  bottom: 20%;
}
